<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<meta name = "viewport" content="width = device-width, intial-scale = 1">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

		<style type="text/css">

			.footer {
				position: fixed;
				left: 0;
				bottom: 0;
				width: 100%;
				background-color: white;
				color: black;
				text-align: left;
				padding-right: 1%;
			}

			table {
			    counter-reset: tableCount;     
			}
			.counterCell:before {              
			    content: counter(tableCount); 
			    counter-increment: tableCount; 
			}

/*			.text-truncate {
			  display: inline-block;
			  max-width: 150px;
			  white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
			}*/

		</style>

		<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
		<script src="javascript/script.js"></script>
		<script src="script.js"></script>

	</head>
	<body>
		<div class="container">
		  <div class="row">
		    <div class="col">
		    	<h1>REST Assured Travel Planner</h1>
		    </div>
		    <div class="col-md-auto">
		    </div>
		    <div class="col col-lg-2">
 		    	<button type="button" class="btn btn-outline-info">Terms and Conditions</button>
		    </div>
		  </div>
		</div>
		<hr style="color: green; display: block;" >
		<div class="container" th:if="${attractionsDetails[0]==null}">
			<h2>No attractions found in the destination city</h2>
			<br>
			<form action="/userAttractionsSelection" method="post" >
				<button name="inputAttractionsIndex" type="submit" value="0">Finish booking</button>
			</form>
		</div>

		<div class="container" th:unless="${attractionsDetails[0]==null}">
			<div class="row">
				<div class="col-12"><h5>Search Results</h5>
					<h6>Attractions found in the city you are staying</h6>
                    <form action="/userAttractionsSelection" method="post" >
                        <div class="container">
                            <table class="table">
                            	<col style="width: 1%"/>
                            	<col style="width: 20%"/>
                            	<col style="width: 15%"/>
                            	<col style="width: 10%"/>
                            	<col style="width: 10%"/>
                            	<thead>
                                <tr>
                                	<th>#</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Type</th>
                                    <th>Subtype</th>
                                </tr>
								</thead>
								<tbody>
                                <tr th:each="attractionDetail : ${attractionsDetails}">
                                	<td class="counterCell"></td>
                                    <td th:text="${attractionDetail.name} "></td>
                                    <td th:text="${attractionDetail.category} "></td>
                                    <td th:text="${attractionDetail.type}"></td>
                                    <td th:text="${attractionDetail.subtype} "></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
						  <div class="form-group row">
						    <label for="inputAttractionsIndex" class="col-sm-4 col-form-label">Enter the Indexes of Attractions seperated by a space</label>
						    <div class="col-sm-2">
						      <input type="text" class="form-control" id="inputAttractionsIndex" placeholder="Attractions" name="inputAttractionsIndex" required="required">
						    </div>
						    <div class="col-sm-6">
						    </div>
						  </div>
						<br>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
					<br>
				</div>
			</div>
		</div>
		 <div class="footer">
		 	<p>&copy; 2021 Email: <a href="mailto:olanipekun.akintola@ucdconnect.ie">olanipekun.akintola@ucdconnect.ie</a>.</p>
 		 </div>

 <!-- 		 <script>
 		 	var element = document.querySelector("#ellipsis-ex");
			function toggleEllipsis() {
			  element.classList.toggle("text-truncate");
			}
		</script>  -->

		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	</body>
    </html>